.Header{
    padding: 3rem;
    background: rgb(137,41,173);
    background: linear-gradient(150deg, rgba(67,74,172,1) 30%, rgba(67,120,184,1) 70%);
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.Header__nav{
    display: flex;
    justify-content: space-between;
    width:30%;
    min-width: 300px;
}
.Header__nav__el{
    padding: 1rem;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.Header__nav__el:hover{
    color: black;
    background-color: white;
    /* text-decoration: underline; */
}