.Header{
    padding: 3rem;
    background: rgb(137,41,173);
    background: linear-gradient(150deg, rgba(67,74,172,1) 30%, rgba(67,120,184,1) 70%);
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.Header__nav{
    display: flex;
    justify-content: space-between;
    width:30%;
    min-width: 300px;
}
.Header__nav__el{
    color: white;
    text-decoration: none;
}
.Header__nav__el:hover{
    text-decoration: underline;
}