.Task{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin:0.5rem 0;
    padding:0;
    width: 100%;
}
.Task input{
    margin-right: 1rem;
}
.Task__delete-btn{
    position: absolute;
    right: 1rem;
}