body, html{
  height: 100%;
  
}
.App {
  height: 100%;
  text-align: center;
  /* background: rgb(137,41,173); */
  /* background: linear-gradient(144deg, rgba(137,41,173,1) 0%, rgba(67,74,172,1) 44%, rgba(67,183,184,1) 100%); */
  /* background: linear-gradient(45deg, #666 50%, #404040 50%) */
}
.Layout__main{
  background: white;
  display: flex;
  flex-direction:  column;
  align-items: center;

}

.Utility__btn, .Utility__btn--danger,
.Utility__btn--success, .Utility__btn--neutral,
.Utility__btn--alert {
  text-decoration: none;
  border-radius: 5px;
  min-width: 4rem;
  padding: 0.5rem 1rem;
  border: none;
  color: inherit;
  cursor: pointer;
  background:none;
  color: black;
  border: 1px solid #ccc;
}

.Utility__btn--danger{
  background:#a00100;
  color: white;
  border: 1px solid #a00100;
}

.Utility__btn--danger:hover{
  background:#ba0000;
  color: white;
}
.Utility__btn--success{
  background: 	#09a34a;
  color: white;
  border: 1px solid #09a34a;
}
.Utility__btn--success:hover{
  background: 	#6ab26c;
  color: white;
}
.Utility__btn--alert{
  background: #ffa700;
  color:white;
  border: 1px solid #ffa700;
}
.Utility__btn--neutral{
  background: 	#808080;
  color: white;
  border: 1px solid #808080;
}
.Utility__btn--neutral:hover{
  background:#707070;
  color: white;
}

.Utility__caption{
  color:  #ccc;
}

.Utility__card{
  padding:2rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}